
<ion-app>
<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
            <img src="assets/images/teslalogoo.png" alt="tesla project logo">

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="height: max-content; size: 30px;">
            <ion-text color="light" class="ion-text-center">
                <h3>WELCOME</h3>
              </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <div>
         </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div style="margin-top: 110px;">
              <ion-button expand="block" color="success" (click)="toLoginPage()" >Start</ion-button>
          </div>
        </ion-col>
      </ion-row>
      

  </ion-grid>
  

 

</ion-content>

</ion-app>
